PORT=3001

GOOGLE_PLACES_API_KEY=
WEB_SEARCH_API_KEY=
OPENAI_API_KEY=

SIMPLE_TASK_MODEL=gpt-5.4-nano
BASIC_MODEL=gpt-5.4-mini
ADVANCED_MODEL=gpt-5.4

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT="what-should-i-eat"